<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iflytek.aiui.player_auth"> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity
            android:name="com.iflytek.aiui.player.remote.login.KuGouLoginActivity"
            android:label="@string/title_activity_ku_gou_login"
            android:theme="@style/AuthAppTheme"></activity>
    </application>

</manifest>